header{
    color: aquamarine;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
}
#p1{
    color: hsl(160, 94%, 51%);
    font-size: 20px;
    font-family: cursive;
    text-align: center;

}
#p2{
    color: hsl(160, 94%, 51%);
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}
#p3{
    color: hsl(160, 94%, 51%);
    font-size: 20px;
    font-family: cursive;
    text-align: center;
}